.Navlogo{
    margin-left: 48px;
    margin-top:  15px;
    margin-bottom: 15px;
}

#navcomp{
    z-index: 9;
}

#About:hover{
    transition: ease-out;
    color: #2ADFAF;
}

#Project:hover{
    
    color: #2ADFAF;
}

#Contact:hover{
    
    color: #2ADFAF;
}


@media (max-width:500px){
    .Navlogo{
        margin-left: 17px;
    } 
    .navbar-toggler{
        margin-right: 15px;
    }
    #navcomp{
        overflow-x: hidden;
        position: fixed;
    }
}
